/node_modules
public/js/bundle.js
public/js/bundle.min.js
public/css/bundle.css
public/css/.bundle.css-*

logs
project
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

*.log
.npmrc
LICENSE